.reg_left_div{
	margin-left: 20%; 
	margin-right: 30px;
	text-align: right;
	width: 90px;	
}
.checkbox_div{
	margin-top: 10px;
	margin-left: 28%;
	margin-bottom: 10px;
	margin-right: 30px;
}
.button_div{
	margin-top: 10px;
	margin-left: 30px;
	margin-bottom: 10px;
	margin-right: 30px;
}

.help-block_div{	
	text-align: left;
	margin-left: 30%;
	margin-bottom: 20px;
	margin-right: 30px;
}
.top_div{
	width: 18%;
	text-align: center;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	background-color: #D6D8D9;
}